.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #f3e8ff, #ffffff);
    text-align: center;
    padding: 1.5rem;
  }
  
  .home-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
  }
  
  .logo-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .home-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: #6b21a8;
    margin-bottom: 0.5rem;
  }
  
  .home-subtitle {
    font-size: 1.25rem;
    color: #4b5563;
    margin-bottom: 1.5rem;
  }
  
  .home-welcome {
    font-size: 1.125rem;
    color: #4b5563;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    max-width: 640px;
  }
  
/* From Uiverse.io by adamgiebl */ 
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  button:active {
    transform: scale(0.9);
  }